<section
  class="landing-section bg-white h-screen w-screen text-center overflow-hidden relative "
   data-header-color="black">
  <div class="z-30 relative h-full flex flex-col">
    <header class="z-30">
      <h2 class="text-black pt-40 text-[40px] font-medium">model 3</h2>
      <p class="text-black text-sm underline">desde $32,740</p>
    </header>

    <footer class="flex flex-col flex-grow pb-20 justify-end z-30 ">
      <div class="gap-x-6 flex mx-auto text-lg">
        <a
          class="bg-[#f4f4f4cc] backdrop-blur-sm text-sm rounded font-bold text-black px-16 py-3 inline-block hover:bg-white hover:text-black transition-colors"
          href="#">Explorar inventario</a
        >
        <a
          class= "bg-[#171a20a6] backdrop-blur-sm text-sm rounded text-white font-bold px-16 py-3 inline-block hover:bg-white hover:text-black transition-colors"
          href="#">Pedido personalizado</a
        >
      </div>

    </footer>
    <div class="absolute top-0 buttom-0 h-full w-full z-10 background-black">
      <img src="/Model3.avif" alt="model 3" class="h-full w-full "/>  

    </div>
  </div>
</section>
